<h4>GENEROUS AUGUST IS FINALLY HERE!</h4>
<h4>CHARITY EVENT FOR CHILDREN IN NEED 2022, TALLINN</h4>
<p>
    For the whole month, owners of admired home cafeteria "Tart" and popular second hand outlet "SHKAF"
    are serving a celebration of love and generosity for the ones in need. 
    They collaborate, cook, sell exceptional fasion items for children and adults, and show that each of you CAN make a significant difference to the world!
    We are inviting you to try some delicious desserts that will fill your stomachs and warm your hearts and shop for the coolest clothing in town. 
    Sometimes it takes only one act of kindness and caring to change a person’s life.
</p>